{
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "tabWidth": 2,
  "semi": true,
  "printWidth": 120,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "singleAttributePerLine": true,
  "plugins": ["prettier-plugin-tailwindcss"]
}
